<!--&lt;!&ndash; Fixed navbar &ndash;&gt;-->
<!--<nav class="navbar navbar-default navbar-fixed-top">-->
  <!--<div class="container">-->
    <!--<div class="navbar-header">-->
      <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">-->
        <!--<span class="sr-only">Toggle navigation</span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
      <!--</button>-->
      <!--<a class="navbar-brand" [routerLink] ="['/welcome']" >Job Scheduler Admin</a>-->
    <!--</div>-->
    <!--<div id="navbar" class="navbar-collapse collapse">-->
      <!--<ul class="nav navbar-nav navbar-right">-->
        <!--<li><a [routerLink] ="['/jobs']" >Job List</a></li>-->
      <!--</ul>-->
    <!--</div>&lt;!&ndash;/.nav-collapse &ndash;&gt;-->
  <!--</div>-->
<!--</nav>-->

<div class="container" style="padding-top: 10px" > <!--style="padding-top: 70px" > -->
  <router-outlet></router-outlet>
</div>
