﻿.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  transition: 0.1s;
  padding: 5px;

}

.card-holder {
  padding-bottom: 25px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.status-C {
  background-color:  #d0ff8f;
}

.status-E {
  background-color:  #fe1e17;
}

.status-F {
  background-color:  #82df00;
}

.status-R {
  background-color:  #b0ff42;
}

.status-S {
  background-color:  #01e5de;
}

.status-T {
  background-color:  #95ff02;
}

.status-o {
  background-color:  #ffe391;
}

.status-O {
  background-color:  #e7ac00;
}

.indent-right {
  padding-left: 15px;
}

.indent-left {
  padding-right: 15px;
}
