<div class="container" >

  <div class="panel-heading" >
    <h2>{{pageTitle + ' #: ' + jobQued.id}} Run Logs</h2>
  </div>

  <div class="panel-group" id="accordion" >
    <div class="panel panel-default" *ngFor="let jobLogs of jobLogMap">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{jobLogs[0].id}}">
            <span style="font-weight: bold" > {{ jobLogs[0].createdOn | date:'dd-MM-yyyy - HH:mm:ss' }} </span>
          </a>
        </h4>
      </div>
      <div id="collapse-{{jobLogs[0].id}}" class="panel-collapse collapse in">
        <div class="panel-body">
          <div *ngFor="let jobLog of jobLogs" >
              <p>{{ jobLog.createdOn | date: 'HH:mm:ss' }} --> {{ jobLog.logStatement }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-footer" >
      <button class="btn btn-primary" (click)="onBack()" >
        < Back
      </button>
    </div>
  </div>

</div>
